# Some container names will use it
CONTAINER_NAME_PREFIX=symfony

PATH_TO_SYMFONY_PROJECT='./app'
NGINX_LOG_DIR='./var/nginx_logs'
FPM_LOG_DIR='./var/php-fpm'

# MariaDB - Docker
ROOT_PASSWORD=root
DB_NAME=test
#DB_USER=
#DB_PASSWORD=

# MongoDB - Docker
MONGO_ROOT_USERNAME=test
MONGO_ROOT_PASSWORD=password

# Till cs-fixer supports php8.4
PHP_CS_FIXER_IGNORE_ENV=1
